[submodule "hugo-uilite"]
	path = hugo-uilite
	url = https://github.com/uicardioHQ/hugo-uilite
[submodule "themes/uilite"]
	path = themes/uilite
	url = https://github.com/uicardioHQ/hugo-uilite
[submodule "themes/hugo-refresh"]
	path = themes/hugo-refresh
	url = https://github.com/PippoRJ/hugo-refresh
